svg {
  width: 180px;
  height: 180px;
}

.circle-chart__background{
  stroke: #efefef;
  stroke-width: 10;
  fill: none;
}

.circle-chart__circle{
  animation: circle-chart-fill 2s reverse;
  stroke: blue;
  stroke-width: 10;
  stroke-dasharray: 134,534;
  stroke-linecap: round;
  transform: rotate(-90deg);
  transform-origin: center;
  fill: none;
}

@keyframes circle-chart-fill {
  to { stroke-dasharray: 0 100;}
}
